*{
    font-family: 'Times New Roman', Times, serif;
}
::placeholder{
    color: white;    
}
body{
    background-color: white !important;
}
#nav{
    background-color: #2055C5 !important;
    color: white;
}
#nav > h1{
    font-size: 30px;
}
.me-auto{
    margin-left: 650px;
}
#nav a{
    color: white;
    border-radius: 10px;
    margin: 5px 30px;
}
#nav a:hover{
    background-color: white;
    color: black;

}
/* -------------------------------------------------------------------------------------------------nav------------ */
#Trans{
    width: 40%;
    margin-left: 10%;
    margin-top: 5%;
    height: 300px;
    border: 1px solid black;
    text-align: center;
}
#Trans > h1{
color: white;
font-size: 40px;
margin-bottom: 50px;
background-color: #2055C5;
padding: 10px;
}
#Trans > form > input {
    padding: 5px 20px;
    color: black;
    width: 300px;
    border:1px solid #343434;
    border-radius: 20px;
}
#Trans > form > button{
    background-color: #2055C5;
    padding: 5px 20px;
    color: white;
    width: 300px;
    text-align: start;
    border:1px solid #343434;
    border-radius: 20px;
}
/* #Trans > h2{
    color: black;
    margin-top: 150px;
    margin-left: 40%;
    font-size: 80px;
} */
#reg > form{
    margin-top: 50px;
    width: 35%;
    height: 550px;
    text-align: center;
    margin-left: 50%;
    border-radius: 10px;
    border: 1px solid black;
}
#reg > form > h1{
    color: white;
font-size: 50px;
background-color: #2055C5;
border-radius: 10px 10px 0px 0px;
margin-bottom: 50px;
}
#reg> form > input{
    padding: 5px 20px;
    color: black;
    width: 300px;
    border:1px solid #343434;
    border-radius: 10px;
}
#reg> form > label{
    margin-left: -230px;
}
#reg > form > button{
    background-color:#2055C5;
    padding: 6px 20px;
    color: white;
    width: 300px;
    text-align: start;
    border:1px solid #343434;
    border-radius: 10px;
}
#reg > img{
    position: absolute;
    top: 100px;
    left: 200px;
}
